.contact-form {
    background-color: white;
    box-shadow: 8px 10px 8px 10px #f4f4f4;
    padding: 30px;
    width: 55%;   
}

.contact-form-row {
    display: flex;
    margin-bottom: 20px;
    column-gap: 10px;
}

.contact-name{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f0ededc4;
    border: none;
    margin-top: 10px;
}

.contact-email{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f0ededc4;
    border: none;
    margin-top: 10px;
}

.contact-order-number {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f0ededc4;
    border: none;
    margin-top: 10px;
}

.contact-reason {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #f0ededc4;
    border: none;
    margin-top: 10px;
}

.contact-message-field {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: #f0ededc4;
    border: none;
    margin-top: 10px;
    font-family: 'Libre Franklin', sans-serif;
}

.width-50-percent {
    width: 50%; 
}

.required {
    color: red;
}
