.search-bar-container {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    padding: 2 rem;
    z-index: 5;
    width: 100%;
    justify-content: center;

    .search-bar-inner {
        width: 500px;
    }

    .search-bar-input {
        background: white;
        padding: 1rem 2rem;
        max-width: 500px;
        width: 100%;
        border: 1px solid #949494;
    }
}



