.search-bar-dropdown {
    position: fixed;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #949494;
    border-top: transparent;
    background-color: white;
    z-index: 5;
  
    .search-bar-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      overflow-x: hidden;
    }
  }